<header id="menu">
    <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
    <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>    
    <p class="description">{{ site.description }}</p>
    <div>
        <a href="https://nl.linkedin.com/pub/jonne-kats/1/842/987">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Jonne Kats's profile on LinkedIn">
        </a>
    </div>
    <div>
        <a href="https://twitter.com/jonnekats" class="twitter-follow-button" data-show-count="false">Follow @jonnekats</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                
    </div>      
    <nav id="nav">
        <ul>
        <li><a href="index.html">Home</a></li>
        {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                class="icon fa-feed"> RSS Feed</a></li>
        </ul>
    </nav>      
</header>