<section id="posts">
    {% for post in site.posts %}
        <article class="post-summary">
            <h1>
                <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}</a>
                <span><time pubdate="pubdate">{{ post.date | date:"%b %d, %y"" }}</time></span>
            </h1>
            {{ post.excerpt }}
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" class="cr">Read more</a> 
        </article>
    {% endfor %}
</section>