---
layout: postlayout
---

<article class="post">
    {% if page.visual %}
        <header class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/original/{{ page.visual }}');">
    {% else %}
        <header class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/noimage.jpg');">
    {% endif %}        
        <div class="hero-text">        
            <h1>{{ page.title }}</h1>
            <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
        </div>
        <div class="categories">
            <ul>
                {% for category in page.categories %}
                    <li class='category'>{{ category }}</li>
                {% endfor %}           
            </ul>              
        </div>
    </header>
    <section id="post-body">
        <div class="introduction">{{ page.excerpt }}</div>
        {{ page.content | remove: page.excerpt }}
    </section>
</article>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="comments">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}


